@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

.App {
  text-align: center;
  background: url("./assets/bg-pattern.svg");

  /* width: 100vw; */

  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circles {
  position: absolute;
  left: 44%;
  top: 67px;
}
h1 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  margin-top: 89px;
  color: #293356;
  margin-bottom: 8px;
}
p {
  color: #848ead;
  margin: 0;
}
.titles {
  width: 390px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .heading {
    display: inline-block;
  }
}
